html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  height: 812px;
  width: 375px;
  background: #17181a;
  border-radius: 39px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 66px);
  grid-auto-rows: 66px;
  padding: 10px;
  gap: 15px;
  padding-bottom: 50px;
}
.btn {
  font-size: 30px;
  border: none;
  border-radius: 16px;
  color: #29a8ff;
  background-color: #303136;
}
.btn.plus {
  height: 100px;
  grid-column: 4;
  grid-row: 3;
  background-color: #005db2;
  color: white;
}

.btn.equal {
  grid-column: 4;
  grid-row: 4 / span 2;
  align-self: end;
  height: 105px;
  background-color: #1991ff;
  color: white;
}
.btn.wide {
  grid-column: span 2;
}
.btn.bluebtn {
  background-color: #005db2;
  color: white;
}
