@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");

html,
body {
  margin: 0;
  font-family: "Special Gothic Expanded One";
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  height: 812px;
  width: 375px;
  background: #17181a;
  border-radius: 39px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 66px);
  grid-auto-rows: 66px;
  gap: 15px;
  padding-bottom: 50px;
}
.btn {
  font-size: 30px;
  border: none;
  border-radius: 16px;
  color: #29a8ff;
  background-color: #303136;
  cursor: pointer;
  font-family: "Special Gothic Expanded One";
}
.btn.plus {
  height: 100px;
  grid-column: 4;
  grid-row: 3;
  background-color: #005db2;
  color: white;
}

.btn.equal {
  grid-column: 4;
  grid-row: 4 / span 2;
  align-self: end;
  height: 105px;
  background-color: #1991ff;
  color: white;
}
.btn.wide {
  grid-column: span 2;
}
.btn.bluebtn {
  background-color: #005db2;
  color: white;
}
.display-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  box-sizing: border-box;
  padding: 25px 35px;
}
::-webkit-scrollbar {
  display: none;
}
.display,
.sum {
  overflow-x: auto;
  white-space: nowrap;
  text-align: right;
  max-width: 100%;
}

.display.small {
  font-size: 24px;
  color: #818181;
}
.display,
.display.large {
  font-size: 48px;
  color: white;
}
.sum {
  font-size: 48px;
  color: white;
}
